manifest {
    name = '<Workflow name>'
    author = 'Mahesh Binzer-Panchal'
    homePage = ''
    description = '<Workflow description>'
    mainScript = 'main.nf'
    // Update nextflowVersion to determine which versions of nextflow can be used.
    //  '!>=21.04.0' : Only run with version 21.04.0 or higher, otherwise exit.
    nextflowVersion = '!>=21.04.0'
    version = '0.1'
}

profiles {

    // A profile for the Uppmax clusters
    uppmax {
        process {
            executor = 'slurm'
            clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }
            // Use node local storage for execution.
            scratch = '$SNIC_TMP'
        }
        // Specify resources to use.
        includeConfig "$baseDir/configs/compute_resources.config"
        // Specify singularity containers to use.
        singularity.enabled = true
        singularity.envWhitelist = 'SNIC_TMP'
        includeConfig "$baseDir/configs/software_packages.config"
    }

}

// Enable workflow reporting
timeline {
    enabled = true
    file = "nxf_runtime_report/execution_timeline.html"
}
report {
    enabled = true
    file = "nxf_runtime_report/execution_report.html"
}
trace {
    enabled = true
    file = "nxf_runtime_report/execution_trace.txt"
}
dag {
    enabled = true
    file = "nxf_runtime_report/pipeline_dag.svg"
}
