manifest {
    name = '<Workflow name>'
    author = 'Mahesh Binzer-Panchal'
    homePage = ''
    description = '<Workflow description>'
    mainScript = 'main.nf'
    //  '!>=21.04.0' : Run with version 21.04.0 or higher, otherwise exit.
    nextflowVersion = '!>=21.04.0'
    version = '0.1'
}

// Default Workflow parameters
// Override them in the params.config located in the analyses directories.
params {

    // Uppmax specific configuration
    project = ''
    clusterOptions = ''

    // Workflow inputs
    samples = ''

    // Workflow outputs
    outdir = 'results'
    // Mode of copying results from the work directory
    // 'symlink' : Use for test data.
    // 'copy'    : Use for full analysis data.
    publish_mode = 'symlink' // values: 'symlink', 'copy'

    // Workflow tool configuration
    multiqc_config = "$baseDir/configs/multiqc_conf.yaml"
    // Enable Conda for software management (using Docker or Singularity is recommended).
    enable_conda = false
    // Enable Singularity container construction from Docker image
    // instead of using existing Singularity image.
    singularity_pull_docker_container = false
}

profiles {

    // A profile for the Uppmax clusters
    uppmax {
        process {
            executor = 'slurm'
            clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }
            // Use node local storage for execution.
            scratch = '$SNIC_TMP'
        }
        // Specify resources to use.
        includeConfig "$baseDir/configs/compute_resources.config"
        // Specify singularity containers to use.
        singularity.enabled = true
        singularity.envWhitelist = 'SNIC_TMP'
    }

    // A profile for running locally with Docker
    docker_local {
        process {
            executor = 'local'
            scratch = true
        }
        includeConfig "$baseDir/configs/compute_resources.config"
        docker.enabled = true
        docker.userEmulation = true
    }

    // A profile for running locally with Singularity
    // (e.g., using an interactive Uppmax session)
    singularity_local {
        process {
            executor = 'local'
            scratch = '$SNIC_TMP'
        }
        includeConfig "$baseDir/configs/compute_resources.config"
        singularity.enabled = true
        singularity.envWhitelist = 'SNIC_TMP'
   }

}
