process {

    // Default settings for all processes
    shell = ['/usr/bin/env bash', '-euo', 'pipefail']
    cpus = 1
    time = '1h'

    // Override defaults with process specific settings.
    withName: 'FASTP' {
        cpus = 2
        time = '1h'
    }
    withName: 'FASTQC' {
        cpus = 2
        time = '1h'
    }
    withName: 'MULTIQC' {
        cpus = 1
        time = '1h'
    }
}
