// Result publishing paths
process {

    withName: 'FASTQC' {
        ext.args   = '--quiet'
        publishDir = [
            path: "${params.results}/01_FastQC_sequence_check",
            mode: 'copy'
        ]
    }
    withName: 'FASTP' {
        ext.args   = '-Q -L'
        publishDir = [
            path: "${params.results}/02_Fastp_trimmed_sequences",
            mode: 'copy'
        ]
    }
    withName: 'MULTIQC' {
        publishDir = [
            path: params.results,
            mode: 'copy'
        ]
    }
}
