process {

    // default container image - has `/bin/bash` and `wget`.
    container = 'bashell/alpine-bash'

    // Process specific containers
    withName: 'FASTP' {
        container = 'https://depot.galaxyproject.org/singularity/fastp:0.20.1--h2e03b76_1'
    }
    withName: 'FASTQC' {
        container = 'https://depot.galaxyproject.org/singularity/fastqc:0.11.9--hdfd78af_1'
    }
    withName: 'MULTIQC' {
        container = 'https://depot.galaxyproject.org/singularity/multiqc:1.10.1--py_0'
    }
}
