process {

    // default container image - has `/bin/bash` and `wget`.
    container = 'bashell/alpine-bash'

    // Process specific containers
    withName: 'FASTP' {
        container = 'biocontainers/fastp:v0.20.1_cv1'
    }
    withName: 'FASTQC' {
        container = 'biocontainers/fastqc:v0.11.9_cv8'
    }
    withName: 'MULTIQC' {
        container = 'quay.io/biocontainers/multiqc:1.10.1--py_0'
    }
}
