/*
    Nextflow configuration
*/

/*
    The Nextflow work directory is where intermediate results are stored.
    Use an absolute path (full path, begins with / ) to the work
    directory, so it's always written to the same place.
    If you have a SNIC Storage allocation, use the nobackup folder in there.
*/
workDir = '/proj/snic20xx-yy-zz/nobackup/nxf-work'

//  Resume analysis from the last complete process executions (not from the beginning).
resume = true

/* Uncomment to enable workflow reporting
// Workflow reporting
timeline {
    enabled = true
    file = "${params.results}/pipeline_info/execution_timeline.html"
}
report {
    enabled = true
    file = "${params.results}/pipeline_info/execution_report.html"
}
trace {
    enabled = true
    file = "${params.results}/pipeline_info/execution_trace.txt"
}
dag {
    enabled = true
    file = "${params.results}/pipeline_info/pipeline_dag.svg"
}
*/